header.shead.text-center.text-white.d-flex
	.container-fluid.my-lg-auto.my-md-auto.mx-lg-5.align-self-end.mb-5
		.d-flex.flex-column.justify-content-lg-start
			.col-lg-4.col-md-5.col-12
				h3.text-uppercase
					strong Downhill Mountain Bike Events
				hr
			.col-lg-4.col-md-5.col-12
				p.text-faded.mb-5
					| Events UK downhill series returns for 2019 with four rounds in the North East and
					| Wales.
				a.btn.btn-primary.btn-xl.js-scroll-trigger(href="#about") Find Out More