section#about.bg-primary
  .container
    .row
      .col-lg-8.mx-auto.text-center
        h2.block-heading.text-white We've made what you need!
        hr.light.my-4
        p.text-faded.mb-4
          | The original and classic British Mountain Bike Event, now in its 5th year.
          | Promoted & organised by FreeRiders Cycling Club.
          | Our event is aimed at experienced riders – routes of 100km, 75km or 50km and run over challenging routes
          | across the hills, using a combination of roads, tracks and bridleways, with significant off-road sections.
          br
          br
          |             Our Prize Draw aims to encourage young riders to enter and we have again teamed up with the great guys.
          br
          br
        a.btn.btn-light.btn-xl.js-scroll-trigger.about-icon-reveal(href="#offers") Join us!