section#gallery.p-0
   .container-fluid.p-0
     .row.no-gutters.popup-gallery
       .col-lg-4.col-sm-6
         a.gallery-box(href="img/gallery/fullsize/1.jpg")
           img.img-fluid(src="img/gallery/thumbnails/1.jpg" alt="")
           .gallery-box-caption
       .col-lg-4.col-sm-6
         a.gallery-box(href="img/gallery/fullsize/2.jpg")
           img.img-fluid(src="img/gallery/thumbnails/2.jpg" alt="")
           .gallery-box-caption
       .col-lg-4.col-sm-6
         a.gallery-box(href="img/gallery/fullsize/3.jpg")
           img.img-fluid(src="img/gallery/thumbnails/3.jpg" alt="")
           .gallery-box-caption
       .col-lg-4.col-sm-6
         a.gallery-box(href="img/gallery/fullsize/4.jpg")
           img.img-fluid(src="img/gallery/thumbnails/4.jpg" alt="")
           .gallery-box-caption
       .col-lg-4.col-sm-6
         a.gallery-box(href="img/gallery/fullsize/5.jpg")
           img.img-fluid(src="img/gallery/thumbnails/5.jpg" alt="")
           .gallery-box-caption
       .col-lg-4.col-sm-6
         a.gallery-box(href="img/gallery/fullsize/6.jpg")
           img.img-fluid(src="img/gallery/thumbnails/6.jpg" alt="")
           .gallery-box-caption