section#offers
  .container
    .row
      .col-lg-12.text-center
        h2.block-heading Our Offers
        hr.my-4
  .container
    .row
      .col-lg-3.col-md-6.text-center
        .offer-box.mt-5.mx-auto
          a.fas.fa-4x.fa-gem.offer-head.mb-3.offer-icon-order-1
          h3.mb-3 Prize Pool $50000
          p.text-muted.mb-0
            | The winner takes home $30000 in prize money.
            br
            |  The second place takes $15000
            |               and the
            |               third takes $5000.
            br
            |  Other participants will receive specials presents.
      .col-lg-3.col-md-6.text-center
        .offer-box.mt-5.mx-auto
          i.fas.fa-4x.fa-bicycle.offer-head.mb-3.offer-icon-order-2
          h3.mb-3 Free Diagnostics
          p.text-muted.mb-0 Professionals will test your bike and give advice on what needs to be improved.
      .col-lg-3.col-md-6.text-center
        .offer-box.mt-5.mx-auto
          i.fas.fa-4x.fa-award.offer-head.mb-3.offer-icon-order-3
          h3.mb-3 Respect
          p.text-muted.mb-0 A medal will be awarded to all finishers.
      .col-lg-3.col-md-6.text-center
        .offer-box.mt-5.mx-auto
          i.fas.fa-4x.fa-heart.offer-head.mb-3.offer-icon-order-4
          h3.mb-3 Made with Love
          p.text-muted.mb-0
            | There are a lot of special tracks, qualified staffs, relaxing rooms and
            | mobile-cafes.